// basic color options: use only color names as shown in the
// "Color Palette" section of https://tachyons.io/docs/themes/skins/
$siteBgColorCustom: #cffdfc ;
$sidebarBgColorCustom: #110022 ;
$textColorCustom: #110022 ;
$sidebarTextColorCustom: #cffdfc ;
$headlineColorCustom: #A32647 ;
$headingColorCustom: #A32647 ;
$bodyLinkColorCustom: #DE9C47 ;
$navLinkColorCustom: #DE9C47 ;
$sidebarLinkColorCustom: #DE9C47 ;
$footerTextColorCustom: #110022 ;
$buttonTextColorCustom: #110022 ;
$buttonBgColorCustom: #cffdfc ;
$buttonHoverTextColorCustom: #cffdfc ;
$buttonHoverBgColorCustom: #cffdfc ;
$borderColorCustom: #110022 ;